{% extends 'rango/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title> 
        {% block title_block %}
        About Rango
        {% endblock %}
    </title>
</head>

    {% block body_block %}
    <body>
    <h1> Rango says... </h1>
        <div>
            Rango says here is the about page.<br />
            <strong>{{ boldmessage }}</strong><br />
            Visits: {{ visits }}
        </div>
        <div>
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat."/>
        </div>
    </body>
{% endblock %}
